.vscode
__pycache__
dist
build

dbconfig.json
stock_day_all.spec
stock_day_all.exe

/data/Listed_Stock/*
/data/OTC_Market/*
/log/*

!/data/Listed_Stock/.gitkeep
!/data/OTC_Market/.gitkeep
!/log/.gitkeep